
<div class="container">

  <div class="wrap">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="text" name="email" [(ngModel)]="email" matInput>
      </mat-form-field>


      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" name="password" [(ngModel)]="password" matInput>
      </mat-form-field>
      <button (click)="login()" mat-flat-button color="primary">Log in</button>
    </div>




  <a routerLink="/register"> <button mat-button color="primary">Need an account?</button> </a>
  <a routerLink="/forgot-password"> <button mat-button color="primary">Forgot Password?</button></a>

  <div class="google" (click)="signInWithGoogle()">
    <img src="../../../assets/icons8-google-48 (1).png" alt="" />
    <h3>Sign in With Google</h3>
  </div>

  </div>


</div>


