
<div class="container">

  <div class="wrap">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="text" name="email" [(ngModel)]="email" matInput>
      </mat-form-field>


      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" name="password" [(ngModel)]="password" matInput>
      </mat-form-field>
      <button (click)="register()" mat-flat-button color="primary">Register</button>
    </div>




  <a routerLink="/login"> <button mat-button color="primary">Already Registered?</button> </a>
  <a routerLink="/forgot-password"> <button mat-button color="primary">Forgot Password?</button></a>



  </div>


</div>
