ul {
  list-style-type: none;
}
.sidenav {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.sidenavContent {
  height: 100vh;
}
nav{
  min-height: 80px;
  width: 100%;
}
.drawContainer{
  height: 100%;
  min-height: 100px;
  background-color: rgb(236, 179, 179);
}
.container {
  width: 100vw;
  height: 100vh;
}
