<div class="container">

  <nav>
    <mat-drawer-container class="drawContainer" autosize>
      <mat-drawer #drawer class="sidenav" mode="side">
        <ul>
          <li *ngFor="let navElement of navTable"
          [routerLinkActive]="'active'"
          [routerLinkActiveOptions]="{exact: true}"
          >
          <a  (click)="changeUrl(navElement.url)" > {{navElement.name}} </a>
          </li>
          <li>
            <a *ngIf="!isUserLoggedIn" (click)="changeUrl('/login')" > Login </a>
            <a *ngIf="isUserLoggedIn" (click)="logout()" > Logout </a>
          </li>

        </ul>
      </mat-drawer>

      <div class="sidenavContent">
        <button  type="button" mat-button (click)="drawer.toggle()">
          <mat-icon style="font-size: 30px;">menu</mat-icon>
        </button>
      </div>

    </mat-drawer-container>
  </nav>


</div>
<router-outlet></router-outlet>

